{* CZ a EU projekty *}

{block content}
  <div class="row"></div>

  <div class="container">
      <div class="row">
        <div class="col s12 left-align">
          <span class="flow-text">Tuzemské i Evropské projekty:</span>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12" style="text-align: justify;">

        <p>
          Spolupráce na tuzemských i Evropských projektech.
        </p>

        <p>
          Fakulta informačních technologií je velmi úspěšná v získávání a řešení výzkumných projektů národních (MPO, MV, GAČR apod.) i mezinárodních (FP7 EU a FP7-ARTEMIS EU). Pro výzkum hledáme partnery z řad průmyslových podniků, kteří mají zájem o výsledky programu a jsou ochotni se na výzkumu podílet.
        </p>

        <p>
          Vědecko výzkumná, vývojová a publikační činnost je velmi důležitou specifickou součástí činností zajišťovaných FIT. Poskytuje prostor pro tvůrčí základní i aplikovaný výzkum, vývoj prototypů, národní a mezinárodní spolupráci, je nezbytná pro vědecký a odborný růst, je podmínkou habilitací docentů, jmenování profesorů a obhájení disertací studentů doktorského studijního programu. Je rovněž významným ekonomickým zdrojem zajišťujícím rozvoj fakulty.
        </p>

        <p>
          Vědecká a výzkumná činnost je podstatnou součástí doktorského studijního programu a účastní se jí i nadaní studenti magisterského, případně bakalářského studijního programu. Je převážně realizována v rámci Výzkumného záměru fakulty, grantových a výzkumných projektů, habilitačních prací a disertačních prací studentů doktorského studijního programu.
        </p>

        </br></br>
        <p>
          ZDE BUDE DETAILNĚJŠÍ POPIS TOHOTO DRUHU SPOLUPRÁCE A MOŽNOSTI JAK SE K DANÉMU DRUHU SPOLUPRÁCE PŘIPOJIT.
        </p>
      
      </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
{/block}
