{* Sponzoring akci *}

{block content}
  <div class="row"></div>

  <div class="container">
      <div class="row">
        <div class="col s12 left-align">
          <span class="flow-text">Sponzoring akcí:</span>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12" style="text-align: justify;">

        <p>
          Sponzoring akcí pořádaných FIT, další typy sponzoringu.
        </p>

        <p>
          Nabízíme Vám možnost sponzorovat některé akce na FIT VUT, popřípadě organizovat vlastní tematické akce na naší půdě. Odměnou Vám bude reklama a naše nehynoucí vděčnost.
        </p>

        </br></br>
        <p>
          ZDE BUDE DETAILNĚJŠÍ POPIS TOHOTO DRUHU SPOLUPRÁCE A MOŽNOSTI JAK SE K DANÉMU DRUHU SPOLUPRÁCE PŘIPOJIT.
        </p>
      
      </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
{/block}
