{* Stredni projekty *}

{block content}
  <div class="row"></div>

  <div class="container">
      <div class="row">
        <div class="col s12 left-align">
          <span class="flow-text">Střední projekty:</span>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12" style="text-align: justify;">

        <p>
          Projekty vhodné jako diplomová práce, delší doba řešení (6-8 měsíců), nízká finanční náročnost, vhodné pro zkoumání rizikových nápadů nebo vývoje základních technologií, IP dle dohody.
        </p>

        <p>
          Uvítáme podněty od zájemců vně fakulty na zadávání a externí vedení bakalářských a diplomových prací studentů. Pokud se pro projekty podaří získat zájem studentů, mohou být výsledky takových projektů využity ve prospěch zadavatele. Možná je i spolupráce na výuce ve formě hostovaných přednášek ve vyučovaných předmětech nebo celých předmětů zaměřených na získávání profesní specializace.
        </p>

        </br></br>
        <p>
          ZDE BUDE DETAILNĚJŠÍ POPIS TOHOTO DRUHU SPOLUPRÁCE A MOŽNOSTI JAK SE K DANÉMU DRUHU SPOLUPRÁCE PŘIPOJIT.
        </p>
      
      </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
{/block}
