{* Vetsi projekty *}

{block content}
  <div class="row"></div>

  <div class="container">
      <div class="row">
        <div class="col s12 left-align">
          <span class="flow-text">Větší projekty:</span>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12" style="text-align: justify;">

        <p>
          Projekty vhodné pro vývoj složitějších řešení, vyšší finanční náročnost, časová zátěž dle domluvy, forma smluvního výzkumu, IP dle domluvy.
        </p>

        <p>
          Fakulta je otevřena v některých případech po dohodě přijmout zakázky v oblasti informačních technologií, zejména pokud se bude jednat o zakázky zajímavé z pohledu výzkumu informačních technologií. Podle potřeby je též možno poskytnout licence na výsledky a software, které jsou na fakultě k dispozici.
        </p>

        <p>
          V případě dlouhodobého partnerství s firmami je možno podle možností dohodnout využití vyhrazených prostor fakulty pro zřízení laboratoří nebo jiných pracovišť firem tak, aby pracoviště byla v přímém kontaktu se zaměstnanci fakulty, ale zejména se studenty, kteří v takových zařízeních mohou pracovat v rámci studia.
        </p>

        </br></br>
        <p>
          ZDE BUDE DETAILNĚJŠÍ POPIS TOHOTO DRUHU SPOLUPRÁCE A MOŽNOSTI JAK SE K DANÉMU DRUHU SPOLUPRÁCE PŘIPOJIT.
        </p>
      
      </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
{/block}
