{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <h4><a n:href="Akademik:garant">Garantovat projekt</a> | <a n:href="Akademik:ungarant">Odgarantovat projekt</a></h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis akademiků</h5></caption>
            <tr>
                <th>login</th>
                <th>email</th>
            </tr>

            <tr n:foreach="$akademici as $akademik">
                <td>{$akademik->login}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a n:href="Akademik:edit $akademik->id_akademika">Upravit</a></li>
                            <li><a n:href="Akademik:delete $akademik->id_akademika">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$akademik->email}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}