{* This is the welcome page, you can delete it *}

{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">
        <h4><a n:href="Spravce:edit">Upravit správce</a></h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">
        <h4>
            <a n:href="Akademik:create">Přidat akademika</a> | 
            <a n:href="Firma:create">Přidat firmu</a> | 
            <a n:href="Student:create">Přidat studenta</a> | 
            <a n:href="Projekt:create">Přidat projekt</a> | 
            <a n:href="Stitek:create">Přidat štítky</a>
        </h4>
    </div>
    </div>
{/block}
