{* This is the welcome page, you can delete it *}

{block content}






    {*<div class="row">
    
        <div class="col s2">
        &nbsp;
        </div>
        <div class="col s8 center-align">
            <span class="flow-text">FIT VUT v Brně nabízí firmám spolupráci na následujících typech projektů:</span>
        </div>
        <div class="col s2">
        &nbsp;
        </div>
    
    </div>*}
    
    <div class="row">
    </div>
    <div class="container">
        <div class="row">

        <div class="col s12 left-align">
            <span class="flow-text">FIT VUT v Brně nabízí firmám spolupráci na následujících typech projektů:</span>
        </div>
    
    </div>
    </div>

  <div class="slider">
    <ul class="slides">
      <li style="background:#707AC3;">
      <a n:href=":Verejny:Spoluprace:drobne">
        <div class="caption left-align">
          <h3>Drobné projekty</h3>
          <h5 class="light grey-text text-lighten-3">Projekty vhodné do předmětů s rozsahem 1-3 měsíce, nízká finanční náročnost, vhodné pro drobné testování a menší problémy, IP firmy</h5>
        </div>
      </a>
      </li>  
      <li style="background:#70C3BC;">
      <a n:href=":Verejny:Spoluprace:stredni">
        <div class="caption right-align">
          <h3>Střední projekty</h3>
          <h5 class="light grey-text text-lighten-3">Projekty vhodné jako diplomová práce, delší doba řešení (6-8 měsíců), nízká finanční náročnost, vhodné pro zkoumání rizikových nápadů nebo vývoje základních technologií, IP dle dohody.</h5>
        </div>
      </a>
      </li>
      <li style="background:#81C370;">
      <a n:href=":Verejny:Spoluprace:vetsi">
        <div class="caption center-align">
          <h3>Větší projekty</h3>
          <h5 class="light grey-text text-lighten-3">Projekty vhodné pro vývoj složitějších řešení, vyšší finanční náročnost, časová zátěž dle domluvy, forma smluvního výzkumu, IP dle domluvy.</h5>
        </div>
      </a>
      </li>
      <li style="background:#C370A6;">
      <a n:href=":Verejny:Spoluprace:czEu">
        <div class="caption left-align">
          <h3>Tuzemské i Evropské projekty</h3>
          <h5 class="light grey-text text-lighten-3">Spolupráce na tuzemských i Evropských projektech</h5>
        </div>
      </a>
      </li> 
      <li class="orange lighten-1">
      <a n:href=":Verejny:Spoluprace:sponzoring">
        <div class="caption right-align">
          <h3>Sponzoring akcí</h3>
          <h5 class="light grey-text text-lighten-3">Sponzoring akcí pořádaných FIT, další typy sponzoringu.</h5>
        </div>
      </a>
      </li>
      
    </ul>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  
  <div class="container">
    <div class="row">
        
        <div class="col s6">
                <center><span class="flow-text">Zajímavé výsledky</span></center>
                
                <div class="card-panel blue-grey" style="text-align: justify;">
                  <span class="white-text">Projekt <em>Certifikace CMMI ve vývoji software v agilním prostředí</em> který byl byl zadán firmou Seemens a vypracován studentem FIT VUT získal cenu <em>Wernera von Seemens 2014.</em>
                  </span>
                </div>
        </div>
        
        <div class="col s6">
                <center><span class="flow-text">&nbsp;</span></center>
    
                <div class="card-panel blue-grey" style="text-align: justify;">
                  <span class="white-text">V rámci úspěšně vypracovaného projektu <em>Multifunkční kamerový systém s automatizovaným zpracováním videodat</em> získala v roce 2015 skupina vědců z FIT VUT prestižní cenu Akademie věd ČR za dosažené vynikající výsledky velkého vědeckého významu.
                  </span>
                </div>
        </div>
        
    <div class="row">
    </div>
        <div class="col s6">
                <center><span class="flow-text">Co se o nás píše</span></center>
   
                <div class="card-panel light-blue accent-3" style="text-align: justify;">
                  <span class="white-text">Red Head, Inc.<blockquote style="border-left:5px solid #0277bd"><em>Dlouho jsme hledali levnou, ale odbornou pracovní sílu, pro řešení našich méně prioritních projektů. Nejdříve jsem oslovili Fakultu informatiky Masarykovy univerzity, ale po několika neúspěšných projektech jsme se rozhodli hledat další lidské zdroje. Narazili jsme na tento skvělý portál pro spolupráci studetů a Fakulty informačních technologií VUT a rozhodli jsme se vyzkoušet nabízenou spolupráci. Všechny vypsané projekty byly úspěšně v termínu vyřešeny a naše spolupráce nadále pokračuje.</em></blockquote>
                  </span>
                </div>
        </div>
        
        <div class="col s6">
                <center><span class="flow-text">&nbsp;</span></center>

                <div class="card-panel light-blue accent-3" style="text-align: justify;">
                  <span class="white-text">H2O Czech Republic a.s.<blockquote style="border-left:5px solid #0277bd"><em>V rámci našeho nového projektu jsme si nechali zpracovat u FIT VUT výzkum v oblasti bezpečnosti a monitorování počítačových sítí. S výsledky výzkumu jsme byli spokojeni a plánujeme při další příližitosti opět spolupracovat s FIT VUT prostřednitvím tohoto portálu.</em></blockquote>
                  </span>
                </div>
        </div>
    </div>
  </div>
  
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  
  {*
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">store</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>*}

{/block}
