{block content}
    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    </div>
    </div>

    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis štítků</h5></caption>
            <tr>
                <th>Název</th>
            </tr>

            <tr n:foreach="$stitky as $stitek">
                <td>{$stitek->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a n:href="Stitek:edit $stitek->id_stitku">Upravit</a></li>
                            <li><a n:href="Stitek:delete $stitek->id_stitku">Smazat</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}