{* This is the welcome page, you can delete it *}
{block content}
 <script type="text/javascript">
    tinymce.init({
        selector: "textarea[name='popis_zadani'],textarea[name='popis_pozadovanych_vysledku'],textarea[name='popis_dosazenych_vysledku']"
    });
 </script>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">
	<div class="small-8 medium-6 large-4 small-centered columns"><h4>Vytvoření nového {if $user->isInRole("Firma")}firemního{elseif $user->isInRole("Student")}studentského{/if} projektu</h4></div>
        <div class="row">&nbsp;&nbsp;</div>
        <div class="small-12 medium-10 large-8 small-centered columns">
            {control pridejNovyProjektForm}
        </div>
{/block}
