{* This is the welcome page, you can delete it *}

{block content}
    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    </div>
    </div>


    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis projektů</h5></caption>
            <tr>
                <th>Název</th>
                <th>Typ</th>
                <th>Zastřešující akademik</th>
                <th>Zadavatel</th>
                <th>Rozsah</th>
                <th>Stav</th>
                <th>Max. počet řešitelů</th>
            </tr>

            <tr n:foreach="$projekty as $projekt">
                <td>{$projekt->nazev}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a n:href="Projekt:detail $projekt->id_projektu">Zobrazit Detail</a></li>
                            <li><a n:href="Projekt:edit $projekt->id_projektu">Upravit</a></li>
                            <li><a n:href="Projekt:zrusit $projekt->id_projektu">Zrušit projekt</a></li>
                            <li><a n:href="Projekt:dokoncitProjekt $projekt->id_projektu">Nastavit jako dokončený</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$projekt->typ}</td>
                <td>{if $projekt->id_akademika != NULL}{$projekt->ref('akademik','id_akademika')->login}{/if}</td>
                <td>
                {if $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'student'}
                    {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('student', 'id_studenta')->login}   
                {else $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'firma'}
                    {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('firma','id_firmy')->login}
                {/if}
                </td>
                <td>{$projekt->ref('rozsah_projektu','id_rozsahu_projektu')->rozsah}</td>
                <td>{$projekt->stav}</td>
                <td>{$projekt->max_pocet_prihlasenych}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
