{* This is the welcome page, you can delete it *}

{block content}
    <script type="text/javascript">
    $(document).ready(function() {
        $( "#toggle-rating" ).click(function() {
          $( "#project-rating" ).fadeToggle();
          $( "#projekt-technicka-zprava" ).fadeOut();
        });
         $( "#toggle-technicka-zprava" ).click(function() {
          $( "#project-technicka-zprava" ).fadeToggle();
          $( "#project-rating" ).fadeOut();
        });
    });
    </script>
            <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">

        <h4><a id="toggle-rating">{if $hodnoceni}Přidat hodnocení{/if}</a></h4> <h4><a id="toggle-technicka-zprava">{if $nahrani_zpravy}| Přidat technickou zprávu{/if}</a></h4>
    </div>
    </div>
    <div id="project-rating" style="display: none" class="row">
            <div class="small-8 medium-6 large-4 small-centered columns"><h4>Přidání hodnocení k projektu</h4></div>
        <div class="small-8 medium-6 large-4 small-centered columns">
            <table>
            <tr>
            <td>Ohodnoťe spolupráci počtem hvězdiček:</td> <td><div data-number="5" id="stars-rating"></div></td>
            </tr>
            </table>
            <script type="text/javascript">
           
            $('div#stars-rating').raty({
              click: function(score, evt) {
                $("input[name='znamka']").val(score);
              },
              starOff: {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-off.png',
              starOn : {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-on.png' 
            });
         
            </script>
            {control pridejHodnoceniForm}
        </div>
    </div>
        <div id="project-technicka-zprava" style="display: none" class="row">
            <div class="small-8 medium-6 large-4 small-centered columns"><h4>Přidání technické zprávy k projektu</h4></div>
        <div class="small-8 medium-6 large-4 small-centered columns">
            {control pridejTechnickouZpravuForm}
        </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-10 medium-8 large-8 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Detail projektu</h5></caption>

            <tr>
                <th>Název</th> <td>{$projekt->nazev}</td>
            </tr>
            <tr>
                <th>Typ</th> <td>{$projekt->typ}</td>
            </tr>
            <tr>
                <th>Zastřešující akademik</th> <td>{if $projekt->id_akademika != NULL}{$projekt->ref('akademik','id_akademika')->login}{/if}</td>
            </tr>
            <tr>
                <th>Zadavatel</th> 
                <td>
                {if $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'student'}
                    {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('student', 'id_studenta')->login}   
                {elseif $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'firma'}
                    {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('firma','id_firmy')->login}
                {/if}
                </td>
            </tr>
            <tr>
                <th>Rozsah</th> <td>{$projekt->ref('rozsah_projektu','id_rozsahu_projektu')->rozsah}</td>
            </tr>
            <tr>
                <th>Stav</th> <td>{$projekt->stav}</td>
            </tr>
            <tr>
                <th>Max. počet řešitel</th> <td>{$projekt->max_pocet_prihlasenych}</td>
            </tr>
            <tr>
                <th>Popis zadání</th> <td>{$projekt->popis_zadani|noescape}</td>
            </tr>
            <tr>
                <th>Popis požadovaných výsledků</th> <td>{$projekt->popis_pozadovanych_vysledku|noescape}</td>
            </tr>
            <tr>
                <th>Popis dosažených výsledků</th> <td>{$projekt->popis_dosazenych_vysledku|noescape}</td>
            </tr>
        </table>
        
        <div>
        
            <em>Štítky:</em><br ú>
            <span class="round label" n:foreach="$projekt_stitky as $stitek">
                {$stitek->ref('stitky','id_stitku')->nazev}
            </span>
        </div>
        <div>
            <br><em>Technické zprávy:</em>
            <div n:foreach="$projekt_resitel as $projekt_resitell">
                {$projekt_resitell->ref('student','student_id_studenta')->login}: <a href="{$basePath}/images/{$projekt_resitell->cesta_k_technicke_zprave|escapeurl}">{$projekt_resitell->cesta_k_technicke_zprave}</a>
            </div>
        </div>
        <div>
            <br><em>Hodnocení spolupráce:</em> 
            <div style="padding-top: 0.5rem;padding-bottom:0.5rem;border-bottom: 1px dotted gray;" n:foreach="$hodnoceni_komentare as $hodnocenii">
                {if $hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->typ == 'student'}
                    {$hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->ref('student', 'id_studenta')->login}
                {elseif $hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->typ == 'firma'}
                    {$hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->ref('firma','id_firmy')->login}
                {elseif $hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->typ == 'akademik'}
                    {$hodnocenii->ref('zadavatel_hodnotitel', 'id_zadavatele_hodnotitele')->ref('akademik','id_akademika')->login}
                {/if}: 
                <div data-number="5" id="stars-rating{$hodnocenii->id_zadavatele_hodnotitele}"></div>
                <div>{$hodnocenii->komentar}</div>

                <script type="text/javascript">
               
                $('div#stars-rating' + {$hodnocenii->id_zadavatele_hodnotitele}).raty({
                  readOnly: true,
                  score: {$hodnocenii->znamka},
                  starOff: {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-off.png',
                  starOn : {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-on.png' 
                });
             
                </script>
            </div>
        </div>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    
{/block}
{*
{block content}
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">
	<div class="small-8 medium-6 large-4 small-centered columns"><h4>Přidání hodnocení k projektu</h4></div>
		{if $hodnoceni}
		{control pridejHodnoceniForm}
		<div data-number="5" id="stars-rating"></div>
		<script type="text/javascript">
		$('div#stars-rating').raty({
		  click: function(score, evt) {
			$("input[name='znamka']").val(score);
		  },
		  starOff: {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-off.png',
		  starOn : {$basePath} + '/vendor/raty-2.7.0/lib/images/' + 'star-on.png' 
		});
		</script>
		{else}
		hodnocení jiý bylo zadáno
		{/if}
{/block}*}
