{* This is the welcome page, you can delete it *}

{block content}
    
    <style>
    .tabs .indicator {
        background-color:white; /* background-color:#383838; */
        height: 6px;
    }
    
    </style>
    
    <div class="row"></div>
    <div class="container">
        <div class="row">

            <div class="col s12 left-align">
                <span class="flow-text">Jsme FIT</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
              <ul class="tabs ">
                <li class="tab col s3"><a href="#jsme-fit-info-o-fakulte" class="active  white-text teal lighten-1   teal lighten-1-text ">Základní informace o FIT</a></li>
                <li class="tab col s3" style="border-left:2px solid white;"><a class="white-text  red lighten-1  red lighten-1-text" href="#jsme-fit-seznam-projektu">Výzkum a vývoj - Běžící projekty</a></li>
                <li class="tab col s3" style="border-left:2px solid white;"><a class="white-text  light-blue accent-3 light-blue accent-3-text" href="#jsme-fit-ustavy">Ústavy</a></li>
              </ul>
            </div>
            
            <div id="jsme-fit-info-o-fakulte" class="col s12">
            
                <div class="row"></div>
                <div class="row"></div>
                
                <h5>Fakulta informačních technologií VUT v Brně</h5>
                
                <img src="https://www.fit.vutbr.cz/FIT/dsc00569pp.jpg" />
                
                <p style="text-align:justify;">
                    Fakulta informačních technologií (FIT) VUT v Brně byla založena 1.1.2002 na základě Ústavu informatiky a výpočetní techniky Fakulty elektrotechniky a informatiky Vysokého učení technického v Brně. Ústav informatiky a výpočetní techniky (UIVT) byl ustaven v roce 1964 a měl dlouholetou tradici výuky výpočetní techniky a informatiky v rámci bývalé Fakulty elektrotechnické a později Fakulty elektrotechniky a informatiky (FEI) VUT v Brně.
                </p>
                
                <p style="text-align:justify;">
                V současné době zajišťuje fakulta výchovu odborníků s kvalifikací bakalář (Bc.) v tříletém bakalářském studijním programu Informační technologie, inženýr (Ing.) v dvouletém navazujícím magisterském studijním programu Informační technologie a doktor (Ph.D.) ve studijním programu Výpočetní technika a informatika. Tyto studijní programy plně odpovídají Boloňské deklaraci pro rozvoj vysokého školství v Evropě a jsou strukturou studia plně kompatibilní v rámci Evropy. Studenti tak mohou část studia absolvovat na univerzitách v zahraničí a tím získat cenné zkušenosti. Vysoké učení technické v Brně získalo navíc certifikát Evropské komise Diploma Supplement Label - dodatek k diplomu, který umožňuje transparentní a jednotné uznávání vysokoškolské a profesní kvalifikace v rámci Evropské Unie. Na fakultě v současné době (2014) studuje přes 2500 studentů.
                </p>
                
                <p style="text-align:justify;">
                Počítačově orientovaná část výuky je soustředěna do Centra výpočetní techniky. Kromě organizované laboratorní výuky a cvičení zde také studenti samostatně pracují na řešení projektů. Další specializované laboratoře jsou pak umístěny v prostorách odborných ústavů fakulty a v přízemí Výzkumného centra informačních technologií. Významnou součástí činnosti fakulty je také práce na výzkumných projektech, a to za účasti studentů vyšších ročníků a studentů doktorského studijního programu.
                </p>
            
            </div>
            
            <div id="jsme-fit-seznam-projektu" class="col s12">
            
                <div class="row"></div>
                <div class="row"></div>
                
                <h5>Výzkum a vývoj</h5>
                
                <p style="text-align:justify;">
                    Vědecko výzkumná, vývojová a publikační činnost je velmi důležitou specifickou součástí činností zajišťovaných FIT. Poskytuje prostor pro tvůrčí základní i aplikovaný výzkum, vývoj prototypů, národní a mezinárodní spolupráci, je nezbytná pro vědecký a odborný růst, je podmínkou habilitací docentů, jmenování profesorů a obhájení disertací studentů doktorského studijního programu. Je rovněž významným ekonomickým zdrojem zajišťujícím rozvoj fakulty.
                </p>
                
                <h5>Běžící projekty</h5>
                
                <p>
                    
                <div class="card-panel blue-grey" style="text-align: justify;">
                    <span class="white-text">
                    <strong><a class="white-text" href="https://www.fit.vutbr.cz/research/grants/index.php?id=821">Analytika velkých řečových dat pro kontaktní centra</a>, EC EU, 2015-2017<br/></strong>
                    Řešitel: Černocký Jan<br/>
                    Spoluřešitelé: Burget Lukáš<br/>
                    </span>
                </div>
                
                <div class="card-panel light-blue accent-3" style="text-align: justify;">
                    <span class="white-text">
                    <strong><a class="white-text" href="https://www.fit.vutbr.cz/research/grants/index.php?id=817">CEPTIS - Vestavěná výpočetní platforma pro dopravu, průmysl a dohled</a>, MŠMT, LF15012, 2015-2017<br/></strong>
                    Řešitel: Řehák Jiří<br/>
                    Spoluřešitelé: Zemčík Pavel<br/>
                    </span>
                </div>
                
                <div class="card-panel blue-grey" style="text-align: justify;">
                    <span class="white-text">
                    <strong><a class="white-text" href="https://www.fit.vutbr.cz/research/grants/index.php?id=817">DARPA - RATS - Robustní automatická transkripce řeči</a>, Raytheon BBN, 2015-2017<br/></strong>
                    Řešitel: Matějka Pavel<br/>
                    Spoluřešitelé: Burget Lukáš, Černocký Jan<br/>
                    </span>
                </div>
                
                <div class="card-panel light-blue accent-3" style="text-align: justify;">
                    <span class="white-text">
                    <strong><a class="white-text" href="https://www.fit.vutbr.cz/research/grants/index.php?id=1015">Digitální navigační systém</a>, TUM, 2015<br/></strong>
                    Řešitel: Chudý Peterl<br/>
                    </span>
                </div>
                
                </p>
                
            
            </div>
            <div id="jsme-fit-ustavy" class="col s12">
            
            <div class="row"></div>
            <div class="row"></div>
                
            <h5>Přehled ústavů FIT VUT</h5> 
            
            <p>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><strong>Ústav počítačových systémů</strong></div>
                  <div class="collapsible-body">
                      <p style="text-align: justify;">
                        Ústav počítačových systémů zajišťuje výuku zejména hardwarově orientovaných předmětů ve všech studijních programech akreditovaných na FIT VUT v Brně, tj. v bakalářském, magisterském i doktorském studijním programu.
                        <br /><br />
                        Vědecko-výzkumná činnost ústavu zahrnuje architekturu technických a programových prostředků vestavěných systémů, specifikaci a návrh systémů založených na počítačích, rekonfigurovatelné systémy, adaptivní systémy, diagnostiku a testování číslicových systémů a biologií inspirované výpočetní systémy. Hlavní oblasti zájmu ústavu jsou:
                            <br /><br />- Aplikačně specifické architektury (vysoce výkonné vestavěné systémy, multiprocesorové systémy na čipu, predikce a ladění výkonnosti paralelních aplikací),
                            <br />- rekonfigurovatelné architektury na bázi FPGA (s aplikacemi v oblasti gigabitových sítí, bioinformatiky atd.),
                            <br />- diagnostika, testovatelnost a bezpečnost číslicových systémů,
                            <br />- biologií inspirovaný hardware a
                            <br />- aplikované evoluční algoritmy.
                      <br /><br />
                        Výuka většiny předmětů je doplněna projekty nebo laboratorními cvičeními, při kterých studenti získají praktické návyky a zkušenosti s nejnovějšími programovými produkty i technickými prostředky (pracovní stanice, víceprocesorové systémy, svazky pracovních stanic, RT OS, návrhové systémy FPGA apod.), naučí se týmové práci a řízení projektů. 
                      <br /><br />
                        Seminář ústavu se koná každý pátek od 13 hod. v zasedací místnosti L321.
                      </p>
                  </div>
                </li>
                
                <li>
                  <div class="collapsible-header"><strong>Ústav informačních systémů</strong></div>
                  <div class="collapsible-body">
                      <p style="text-align: justify;">
                        Ústav informačních systémů zajišťuje výuku předmětů magisterského oboru Informační systémy, který zahrnuje oblasti programování, formálních jazyků a překladačů, databázových a informačních systémů, počítačových sítí, formálních specifikací, internetových a distribuovaných aplikací. Cílem je seznámit studenty s teorií, technologiemi a postupy používanými při vývoji informačních systémů a naučit je takové systémy vyvíjet s použitím moderních vývojových prostředků, metod a technologií. Kromě toho zajišťuje ústav též výuku řady základních předmětů v bakalářském programu Informační technologie a nabízí předměty v doktorském programu Informační technologie.
                      <br /><br />
                        Vědecko-výzkumná činnost ústavu zahrnuje oblast databázových technologií, implementace informačních systémů, řízení softwarových projektů, teorie formálních jazyků a překladačů. Hlavními výzkumnými zájmy členů ústavu jsou:
                      <br /><br />- Objektové modelování, objektově orientované databázové systémy, návrh databáze,
                            <br />- získávání znalostí z databází,
                            <br />- formální specifikace reaktivních systémů a systémů pracujících v reálném čase,
                            <br />- počítačové sítě a komunikační protokoly,
                            <br />- implementace informačních systémů,
                            <br />- softwarové metriky a řízení softwarových projektů,
                            <br />- formální jazyky a
                            <br />- funkcionální jazyky.
                      <br /><br />
                        Výuka většiny předmětů je doplněna projekty nebo laboratorními cvičeními, při kterých studenti získají praktické návyky a zkušenosti s nejnovějšími programovými produkty, s řešením softwarových projektů a naučí se týmové práci a řízení projektů.
                      </p>
                  </div>
                  
                  <li>
                  <div class="collapsible-header"><strong>Ústav inteligentních systémů</strong></div>
                  <div class="collapsible-body">
                      <p style="text-align: justify;">
                        Ústav inteligentních systémů zajišťuje výuku předmětů tří magisterských oborů: 
                            <br /><br />- Obor Bezpečnost informačních technologií je zaměřen na pochopení principů vzniku bezpečnostních rizik v informačních technologiích, jejich preventivní ošetření a řízení. Studenti se seznámí se základními principy bezpečnosti, pochopí  smysl bezpečnostních opatření v rozsáhlých informačních systémech. Studenti si osvojí principy řešení nových postupů, které vedou k návrhu, instalaci, provozu a údržbě bezpečných informačních systémů. V povinných předmětech si studenti prohloubí znalosti získané v bakalářském studiu především v oblasti bezpečnosti informačních systémů, kryptografie, přenosu dat, kódování a biometrických systémů. Výběrem volitelných předmětů se mohou dále zaměřit buď na prohloubení teoretických základů z oblasti formálních specifikací a verifikace, nebo praktičtěji, například na tvorbu vestavěných systémů a hardware, správy software nebo počítačových sítí a komunikace.
                            <br /><br />- Obor Inteligentní systémy seznamuje studenty s teoriemi, technologiemi a postupy používanými při vývoji inteligentních systémů a učí je takové systémy vyvíjet s použitím moderních prostředků, metod a technologií. V povinných předmětech si studenti rozšíří znalosti získané v bakalářském studiu především o znalosti týkající se práce s nepřesnými a neúplnými informacemi. Nabídka volitelných předmětů spolu s technickým projektem a diplomovou prací umožní studentům individuální výběr užšího zaměření na různé teoretické i aplikační oblasti. Absolventi oboru se uplatní při výzkumu, vývoji a konstrukci nejrůznějších inteligentních systémů. Díky kvalitnímu teoretickému vzdělání a širokému univerzálnímu základu aplikačně zaměřeného oborového studia je přitom zajištěna vysoká adaptabilita absolventa na všechny aktuální požadavky jeho budoucí profesionální praxe, a to i v jiných oblastech informačních technologií.
                            <br /><br />- Obor Matematické metody v informačních systémech, jehož cílem je seznámit studenty s hlubšími matematickými základy IT a naučit je chápat, prakticky aplikovat i dále rozvíjet pokročilé technologie z těchto základů vycházející. Takovými technologiemi jsou např. metody automatizované analýzy, verifikace a testování korektnosti počítačových systémů, překladače, vysoce náročné vědeckotechnické výpočty, modelování, simulace a optimalizace či aplikace teorie her pro podporu racionálního strategického rozhodování v konfliktních situacích (mj. např. v ekonomii, bezpečnosti apod.).
                      <br /><br />
                        Většina předmětů je doplněna projekty nebo laboratorními cvičeními, při kterých studenti získají praktické návyky a zkušenosti s nejnovějšími programovými produkty a systémy.
                      <br /><br />
                        Vědeckovýzkumná činnost ústavu je zaměřena především na problematiku inteligentních systémů, především biometrických systémů a robotiky, ale pozornost je věnována také systémům pro specifické aplikace, komunikačním systémům a senzorovým sítím. Dalšími oblastmi zájmu jsou integrace komponent do vestavěných aplikací, návrhy rozhraní, využívání paralelismu na více úrovních, simulace a prototypování různých konfigurací. Významnou roli hraje také výzkum technik automatizované formální analýzy a verifikace i dynamické analýzy a testování software i hardware, ve kterých pracovníci ústavu získali řadu projektů (včetně mezinárodních), publikací na prestižních konferencích i v časopisech a také řadu významných mezinárodních ocenění.
                      </p>
                  </div>
                  </li>
                  
                  <li>
                  <div class="collapsible-header"><strong>Ústav počítačové grafiky a multimédií</strong></div>
                  <div class="collapsible-body">
                      <p style="text-align: justify;">
                        Ústav počítačové grafiky a multimédií vyučuje kursy v magisterském studijním programu Počítačová grafika a multimédia, který svou náplní zahrnuje principy počítačové grafiky a multimédií, zpracování řečových signálů, komunikačních rozhraní mezi člověkem a počítačem, zpracování a kompresi obrazu a zvuku, aplikační rozhraní pro programování počítačové grafiky a multimédií a základy aplikačních oblastí počítačové grafiky, jako jsou počítačem podporovaný návrh (CAD), geografické informační systémy apod. Ústav též zajišťuje výuku předmětů Signály a systémy, Základy počítačové grafiky a Tvorba uživatelských rozhraní v bakalářském studijním programu Informační technologie.
                        <br /><br />
                            Výzkumná činnost ústavu se soustřeďuje zejména na obecné algoritmy počítačové grafiky a zobrazovací algoritmy, zpracování a rozpoznávání řečových signálů, animaci a zobrazování rozsáhlých scén, moderní metody interakce člověka s počítačem, zpracování obrazu a signálu, zpracování a zobrazování medicínských dat a na aplikace. Hlavní témata výzkumu jsou:
                        <br /><br />- Algoritmy počítačové grafiky akcelerované pomocí DSP a FPGA,
                        <br />- dolování informací ze spontánní mluvené řeči (rozpoznávání řeči, detekce klíčových slov, verifikace řečníka, rozpoznávání jazyka)
                        <br />- tvorba řečových databází
                        <br />- realistické zobrazování složitých scén a rastrových modelů,
                        <br />- animace kloubových soustav, kinematika a dynamika,
                        <br />- zpracování a zobrazování medicínských dat, modelování lidské postavy, rekonstrukce modelů z VH datových souborů,
                        <br />- paralelní výpočty zpracování signálu a grafiky.
                        
                      <br /><br />
                        Většiny kursů je vyučována formou přednášek doplněných o projekty a laboratorní výuku. Znalosti, které studenti získají během přednášek jsou prohlubovány během laboratorních cvičení a procvičovány během samostatného zpracování individuálně zadaných projektů nebo týmových projektů. Většina úloh, které se v kursech zpracovávají, jsou úlohy nezávislé na použitých počítačích. Pro řešení úloh, které výjimečně vyžadují specializované zařízení, je k dispozici potřebné vybavení, jako jsou výkonné počítačové systémy a specializovaná periferní zařízení.
                      <br /><br />
                        Ústav počítačové grafiky a multimédií dále organizuje přehlídky studentských prací zaměřujících se na počítačové vidění, zpracování obrazu a zvuku, počítačovou grafiku a uživatelská rozhraní. Cílem akcí je prezentace výsledků prací jednotlivců i týmů, jejich setkání a navázání další vzájemné spolupráce
                      </p>
                  </div>
                  </li>
              </ul>
            </p>
            
            </div>
        </div>

    </div>
  
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  

{/block}
