{* This is the welcome page, you can delete it *}

{block content}
    
    <style>
    .tabs .indicator {
        background-color:white; /* background-color:#383838; */
        height: 6px;
    }
    
    </style>
    
    <div class="row"></div>
    <div class="container">
        <div class="row">

         <div class="col s12 left-align">
                <span class="flow-text">Úspěšně řešené projekty</span>
            </div>
        </div>
        
        <div class="row"></div>
        
        <div class="row">
            <form action="#">
            <div class="col s1 left-align">
                Filtry:
            </div>
            <div class="col s2 left-align">
                Typ projektu:<br/>
                <input type="checkbox" id="typ_projektu_filtr_studentsky" />
                <label for="typ_projektu_filtr_studentsky">Studentský</label><br/>
                <input type="checkbox" id="typ_projektu_filtr_firemni" />
                <label for="typ_projektu_filtr_firemni">Firemní</label>
            </div>
            <div class="col s2 left-align">
                Rozsah:<br/>
                    <input type="checkbox" id="rozsah_projektu_filtr_drobny" />
                    <label for="rozsah_projektu_filtr_drobny">Drobný</label><br/>
                    <input type="checkbox" id="rozsah_projektu_filtr_stredni" />
                    <label for="rozsah_projektu_filtr_stredni">Střední</label><br/>
                    <input type="checkbox" id="rozsah_projektu_filtr_vetsi" />
                    <label for="rozsah_projektu_filtr_vetsi">Větší</label><br/>
                    <input type="checkbox" id="rozsah_projektu_filtr_eu" />
                    <label for="rozsah_projektu_filtr_eu">Tuzemský a EU</label>
            </div>
            <div class="col s4 left-align">
                Štítky:<br/>
                <input placeholder="Seznam štítků oddělených znakem |" id="stitky_seznam_filtr" type="text">
                <label for="stitky_seznam_filtr" class="white-text" style="font-size: 1rem;">Štítky</label>
            </div>
            <div class="col s3 left-align ">
                <input type="submit" class="btn  red" onclick="Materialize.toast('Tato funkcionalita není v bezplatné verzi aplikace implementována.', 4000)" value="Aplikovat Fitry"/>
            </div>
            </form>
        </div>
        
        <div class="row"></div>
        
          <ul class="collapsible popout" data-collapsible="accordion">
               
                  <li n:foreach="$projekty as $projekt">
                  <div n:class="$iterator->odd ? blue-grey-text,collapsible-header"><strong>{$projekt->nazev}</strong></div>
                  <div class="collapsible-body">
                      <div style="text-align: justify;padding: 2rem; margin:0rem;">
                      <strong>Typ:</strong>
                      {$projekt->typ}
                      <br />
                      <strong>Zadavatel:</strong>
                      
                        {if $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'student'}
                            {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('student', 'id_studenta')->login}   
                        {else $projekt->ref('zadavatel_hodnotitel','id_zadavatele')->typ == 'firma'}
                            {$projekt->ref('zadavatel_hodnotitel','id_zadavatele')->ref('firma','id_firmy')->login}
                        {/if}
                      <br /> 
                      <strong>Rozsah:</strong>
                      {$projekt->ref('rozsah_projektu','id_rozsahu_projektu')->rozsah}
                      <br />
                      <strong>Zastřešující akademik:</strong>
                      {if $projekt->id_akademika != NULL}{$projekt->ref('akademik','id_akademika')->login}{/if}
                      <br />
                      <strong>Počet řešitelů:</strong>
                        {var projekt_pocet_resitelu = $database->table('student_resitel')->where('projekt_id_projektu = ?',$projekt->id_projektu)->count("*")}
                        {$projekt_pocet_resitelu}

                      <br />
                      <strong>Zadání:</strong>
                      {$projekt->popis_zadani|noescape}
                      <br />
                      <strong>Dosažené výsledky:</strong>
                      {$projekt->popis_dosazenych_vysledku|noescape}
                      <br />
                      <strong>Štítky:</strong>
                        {var projekt_stitky = $database->table('projekt_stitky')->where('id_projektu = ?',$projekt->id_projektu)}
                        <span class="chip"  n:foreach="$projekt_stitky as $stitek">
                            {$stitek->ref('stitky','id_stitku')->nazev}
                        </span>
                      </div>
                  </div>
                  </li>
              </ul>

    </div>
  
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  

{/block}
