{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <h4><a n:href="Student:register">Registrovat na projekt</a> | <a n:href="Student:unregister">Odregistrovat z projektu</a></h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis studentů</h5></caption>
            <tr>
                <th>login</th>
                <th>email</th>
            </tr>

            <tr n:foreach="$studenti as $student">
                <td>{$student->login}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a n:href="Student:edit $student->id_studenta">Upravit</a></li>
                            <li><a n:href="Student:delete $student->id_studenta">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$student->email}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}