{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <h4>Odregistrovat z projektu</h4>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>

        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            {control odregistraceForm}
        </div>
        </div>
        
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
{/block}