{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>

        <h4><a n:href="Firma:register">Zastřešit projekt</a> | <a n:href="Firma:unregister">Odzastřešit projekt</a></h4>
    </div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">

        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis firem</h5></caption>
            <tr>
                <th>login</th>
                <th>email</th>
                <th>akademik</th>
            </tr>

            <tr n:foreach="$firmy as $firma">
                <td>{$firma->login}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Související akce</a>
                        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a n:href="Firma:edit $firma->id_firmy">Upravit</a></li>
                            <li><a n:href="Firma:delete $firma->id_firmy">Smazat</a></li>
                        </ul>
                    </div>
                </td>
                <td>{$firma->email}</td>
                <td>{$firma->akademik->login}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}