{* This is the welcome page, you can delete it *}

{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <h4>Profil akademika</br></h4>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Login: {$akademik->login}</br>
            email: {$akademik->email}
            </h5>
        </div>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Garantované projekty:</br>
            </h5>

            <ul>
                <li n:foreach="$garantovane_projekty as $g_projekt">
                    <a n:href=":Neverejny:Projekt:detail $g_projekt->id_projektu">{$g_projekt->nazev}</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Odpovídá za firmy:</br>
            </h5>

            <ul>
                <li n:foreach="$odp_firmy as $o_firma">
                    {$o_firma->login}
                </li>
            </ul>
        </div>
    </div>
    </div>

{/block}
