{* This is the welcome page, you can delete it *}

{block content}
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <h4>Profil spravce</br></h4>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Login: {$spravce->login}</br>
            email: {$spravce->email}</br>
            </h5>
        </div>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}
