{* This is the welcome page, you can delete it *}

{block content}
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">&nbsp;&nbsp;</div>
	<div class="row">
	<div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <h4>Profil studenta</br></h4>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Login: {$student->login}</br>
            email: {$student->email}
            </h5>
        </div>
    </div>
    </div>
    <div class="row">&nbsp;&nbsp;</div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Vytvořené projekty:</br>
            </h5>

            <ul>
                <li n:foreach="$vytvorene_projekty as $v_projekt">
                    <a n:href=":Neverejny:Projekt:detail $v_projekt->id_projektu">{$v_projekt->nazev}</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

    <div class="row">
    <div style="text-align:center;" class="small-10 medium-8 large-8 small-centered columns">
        <div style="text-align:left;" class="small-12 medium-12 large-12 small-centered columns">
            <h5>
            Zapsané projekty:</br>
            </h5>

            <ul>
                <li n:foreach="$zapsane_projekty as $z_projekt">
                    <a n:href=":Neverejny:Projekt:detail $z_projekt->id_projektu">{$z_projekt->nazev}</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

{/block}
