{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}FIT portál - NEVEŘEJNÁ SEKCE</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {* FOUNDATION *}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{$basePath}/css/foundation.css" />
    <link rel="stylesheet" href="{$basePath}/css/app.css" />
    <link rel="stylesheet" href="{$basePath}/vendor/foundation-icons/foundation-icons.css" />
        <script src="{$basePath}/js/vendor/modernizr.js"></script>
    {* FOUNDATION *}
    {* FOUNDATION RESPONYIBLE TABLE*}
    <link type="text/css" media="screen" rel="stylesheet" href="{$basePath}/vendor/zurb-responsive-tables/responsive-tables.css" />
    <script type="text/javascript" src="{$basePath}/vendor/zurb-responsive-tables/responsive-tables.js"></script>
    {* FOUNDATION RESPONYIBLE TABLE*}
    
	<script type="text/javascript" src="{$basePath}/vendor/tinymce/tinymce.min.js"></script>

	{* RATY 2.7.0 - STARS *}
	<link rel="stylesheet" href="{$basePath}/vendor/raty-2.7.0/lib/jquery.raty.css">
    <script src="{$basePath}/vendor/raty-2.7.0/vendor/jquery.js"></script>
    <script src="{$basePath}/vendor/raty-2.7.0/lib/jquery.raty.js"></script>

    {block head}{/block}
</head>

<body>
    {* MENU *}
    {if $user->isLoggedIn()}
        <div class="row" style="border-bottom: 0.1rem solid #5A5A5A;">
                <nav class="top-bar" data-topbar role="navigation">
                  <ul class="title-area">
                    <li class="name">
                      <h1 style="background:#DA152F"><a n:href="Homepage:default" style="background:#DA152F">&nbsp;&nbsp;&nbsp;FIT Portál | Neveřejná sekce&nbsp;&nbsp;&nbsp;</a></h1>
                    </li>
                     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                  </ul>

                  <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                                           
                                           
                        <li><a href="#">Uživatel: {$user->getIdentity()->username} | Role: {$user->getRoles()[0]}</a></li>                  
                      
                        <li class="active" style="background:#DA152F"><a href="{link Sign:out}" style="background:#DA152F">Odhlásit se</a></li>
                    </ul>
                  </section>
                </nav>
        </div>
        <div class="row">
                    <div class="icon-bar seven-up">
                      <a n:href="Homepage:default" class="item">
                        <i class="fi-home"></i>
                        <label>Domů</label>
                      </a>

                      <a n:href="Akademik:default" class="item">
                        <i class="fi-torso-business"></i>
                        <label>Akademici</label>
                      </a>
                      <a n:href="Firma:default" class="item">
                        <i class="fi-torsos-all"></i>
                        <label>Firmy</label>
                      </a>
                      <a n:href="Student:default" class="item">
                        <i class="fi-male-female"></i>
                        <label>Studenti</label>
                      </a>
                      <a n:href="Projekt:default" class="item">
                        <i class="fi-database"></i>
                        <label>Projekty</label>
                      </a>
                      <a n:href="Stitek:default" class="item">
                        <i class="fi-pricetag-multiple"></i>
                        <label>Štítky</label>
                      </a>
                      <a n:href="Spravce:default" class="item">
                        <i class="fi-wrench"></i>
                        <label>Správce</label>
                      </a>
                    </div> 
        </div>
        
        {else}
        
        <div class="row">
        <div class="small-12 medium-12 large-12 small-centered columns">
            <div class="fixed">
            <nav class="top-bar" data-topbar role="navigation">
              <ul class="title-area">
                <li class="name">
                  <h1 style="background:#DA152F"><a href="#" style="background:#DA152F">&nbsp;&nbsp;&nbsp;FIT Portál | Neveřejná sekce&nbsp;&nbsp;&nbsp;</a></h1>
                </li>
                 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
              </ul>

              <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a n:href="Sign:in">Přihlášení</a></li>
                </ul>
              </section>
            </nav>
            </div>
        </div>
    </div>
    
    {/if}
    {* MENU *}

    <div n:foreach="$flashes as $flash" data-alert n:class="$flash->type">{$flash->message}<a href="#" class="close">&times;</a></div>

    {include content}

    {block scripts}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    
    {* FOUNDATION *}
    {* <script src="{$basePath}/js/vendor/jquery.js"></script> *}
    <script src="{$basePath}/js/foundation.min.js"></script>
    <script>
       $(document).foundation();
       $(document).ready(function() {
           
           $(".table-show-additional-info tr").mouseenter(function() {

              $( this ).find( ".div-show-addition-info" ).css("visibility","visible");
           })
          .mouseleave(function() {
              $( this ).find( ".div-show-addition-info" ).css("visibility","hidden");
          });
         
       });

     </script>
    {* FOUNDATION *}

    {/block}
</body>
</html>
