{* This is the welcome page, you can delete it *}

{block content}

    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns"><h4>Pro vstup do neveřejné sekce se prosím přihlašte.</h4></div>
    </div>

    <div class="row">&nbsp;&nbsp;</div>
    {form signInForm}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
      <label>Login
        {input login}
      </label>
    </div>
    </div>
  <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
      <label>Heslo
        {input password}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-8 medium-6 large-4 small-centered columns">
    <div class="row">
    <div class="small-4 medium-2 large-1 columns">
        {input send}
    </div>
    </div>
    </div>
  </div>
{/form}
{/block}
