{block content}
    <div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns">
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
        <table class="table-show-additional-info" class="responsive" style="margin-left:auto;margin-right:auto;width:100%">
            <caption><h5>Výpis rozsahů projektů</h5></caption>
            <tr>
                <th>rozsah</th>
                <th>abstrakt</th>
                <th>popis</th>
            </tr>

            <tr n:foreach="$rozsahy as $rozsah">
                <td>{$rozsah->rozsah}
                    <div style="visibility:hidden;" class="div-show-addition-info">
                        <a n:href="Rozsah:edit $rozsah->id_rozsah_projektu">Upravit</a>
                    </div>
                </td>
                <td>{$rozsah->abstrakt|noescape}</td>
                <td>{$rozsah->popis|noescape}</td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
{/block}