{block content}
    <script type="text/javascript">
    tinymce.init({
        selector: "textarea[name='abstrakt'],textarea[name='popis']"
    });
    </script>
    <div class="row">&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;</div>
    
        <div class="row">
        <div class="small-8 medium-6 large-4 small-centered columns">
            <h4>Upravení rozsahu projektu</h4>
        </div>
        </div>

        <div class="row">&nbsp;&nbsp;</div>

        <div class="row">
        <div class="small-12 medium-10 large-8 small-centered columns">
            {control rozsahForm}
        </div>
        </div>
        
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">&nbsp;&nbsp;</div>
{/block}