{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}FIT portál</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <style>
    
    div.chip.nette-alert-box-success {
        background-color:#26a69a;
        width: 99%;
        margin-left: 0.5%;
        border-radius: 4px;
        font-size: 1rem;
    }
    
    div.chip.nette-alert-box-alert {
        background-color:#ef5350;
        width: 99%;
        margin-left: 0.5%;
        border-radius: 4px;
        font-size: 1rem;
    }
    </style>
    
    {* FOUNDATION *}
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{$basePath}/vendor/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
    {* FOUNDATION RESPONYIBLE TABLE*}
    

    {block head}{/block}
</head>

<body>
    {* MENU *}
    
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a n:href=":Verejny:Spoluprace:drobne">Drobné projekty</a></li>
      <li><a n:href=":Verejny:Spoluprace:stredni">Střední projekty</a></li>
      <li><a n:href=":Verejny:Spoluprace:vetsi">Větší projekty</a></li>
      <li><a n:href=":Verejny:Spoluprace:czEu">CZ a EU projekty</a></li>
      <li class="divider"></li>
      <li><a n:href=":Verejny:Spoluprace:Sponzoring">Sponzoring akcí</a></li>
    </ul>
    <div class="row">
    <nav class="light-blue accent-3">
                <a href="#!" class="brand-logo hide-on-med-and-down"><div style="background:white;height:4.25rem;" class="col s1"> <img class="responsive-img" style="display:block;margin:0.75rem auto;" src="{$basePath}/images/FIT_zkratka_barevne_RGB_CZ.png" /></div></a>
      <div class="nav-wrapper">
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <a n:href=":Verejny:Homepage:default" class="brand-logo"><strong  style="font-family: 'Poiret One', sans-serif;font-weight:bold;font-size:2rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIT Portál </strong><span style="font-size:2.3rem;">|</span><span style="font-family: 'Poiret One', sans-serif;font-weight:bold;font-size:1.8rem;">|<span style="font-size:1.5rem;font-weight:normal;">|</span><span style="font-size:1rem;font-weight:normal;">|</span><span style="font-size:0.5rem;font-weight:normal;">|</span> <span style="font-size:1.5rem;font-weight:normal;">Spolupráce s FIT přináší výsledky</span></span></a>
      </ul>
      
        <ul class="right">
          <li><a n:href=":Verejny:JsmeFit:default">Jsme FIT</a></li>
          <li><a n:href=":Verejny:Vysledky:default">Výsledky</a></li>
          <li><a n:href=":Verejny:SprateleneFirmy:default">Spřátelené Firmy</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Spolupráce<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a n:href=":Verejny:Homepage:default"><i class="material-icons">home</i></a></li>
          <li><a n:href=":Neverejny:Sign:in"><i class="material-icons">supervisor_account</i></a></li>
        </ul>
      </div>
    </nav>
    </div>

    <div n:foreach="$flashes as $flash" data-alert n:class="$flash->type, chip, white-text">
        {$flash->message}
        <i class="material-icons">close</i>
    </div>

    
    {include content}

    
          <footer class="page-footer blue-grey">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Chcete se zapojit do spolupráce?</h5>
                <p class="grey-text text-lighten-4"><a href="#modal-contact" class="btn z-depth-0 modal-trigger" ><i class="material-icons left">message</i>Dejte nám vědět</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Odkazy</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" n:href=":Neverejny:Sign:in">Neveřejná sekce</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.fit.vutbr.cz/.cs">Stránky FIT VUT</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 FIT VUT
            <a class="grey-text text-lighten-4 right" href="http://www.fit.vutbr.cz/~beranv/.cs">Koordinátor: Víťa Beran</a>
            </div>
          </div>
        </footer>
        
         <div id="modal-contact" style="max-height: 60%;" class="modal bottom-sheet">
            <div class="modal-content">
              <h4>Kontaktní formulář</h5>
                <div class="row"></div>
                <div class="row">
                  <div class="col s12">


                  {form kontaktForm}


                    <div class="row">
                      <div class="input-field col s6">
                        {input firma}
                        <label for="firma_" style="font-size:1rem;">Firma</label>
                      </div>

                      <div class="input-field col s6">
                        {input email class=>"validate"}
                        <label for="email_" data-error="wrong" data-success="right" style="font-size:1rem;">Email</label>
                      </div>
                    </div>
                      

                   <label for="projekty_" style="font-size:1rem;">Jako firma máme zájem o následující typy projektů:</label>
                    <div class="row">
                      <!-- projdeme všechny jeho položky -->
                      {foreach $form[projekty]->items as $key => $tmp}
                          <!-- každou položku zobrazíme zvlášť -->
                          <div class="input-field col s2">
                              <input type="checkbox" n:name="projekty:$key">
                              <label n:name="projekty:$key">{$tmp}</label>
                          </div>
                      {/foreach}
                    </div>


                    <div class="row"></div>
                    <div class="divider"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    

                    <div class="row">
                      <div class="input-field col s12">
                        {input komentar class=>"materialize-textarea"}
                        <label for="komentar_" style="font-size:1rem;">Komentář</label>
                      </div>
                    </div>
                    
                    
                    {input send class=>"btn"}


                  {/form}


                  </div>
                </div>
            </div>
         </div>
    
    {block scripts}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    
    {* FOUNDATION *}
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{$basePath}/vendor/materialize/js/materialize.min.js"></script>
      <script type="text/javascript">
        $(".button-collapse").sideNav();
        
        $(document).ready(function(){
            $('.slider').slider({ full_width: true, Interval: 7000 });
            $('.slider').slider('next');
            $('.slider').slider('prev');
        });
        
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
         
      </script>
    {* FOUNDATION *}

    {/block}
    
    
</body>
</html>
